@model MGAChargerEcommerce.Models.ManageProduct
@{
	ViewBag.Title = "Shop";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
    <div class="breadcrumbs-section plr-200">
  <div class="breadcrumbs overlay-bg">
        <div class="container">
      <div class="row">
            <div class="col-xs-12">
          <div class="breadcrumbs-inner">
                <h1 class="breadcrumbs-title">Shop</h1>
                <ul class="breadcrumb-list">
              <li><a href="/Home/Index">Home</a></li>
              <li>Shop</li>
            </ul>
              </div>
        </div>
          </div>
    </div>
      </div>
</div>
    <div id="page-content" class="page-wrapper"> 
  
  <!-- SHOP SECTION START -->
  <div class="shop-section mb-80">
        <div class="container">
      <div class="row">
            <div class="col-md-12"> 
          <!-- widget-search --> 
          @*
          <aside class="widget-search mb-30">
                <form action="#">
              <input type="text" placeholder="Search here...">
              <button type="submit"><i class="zmdi zmdi-search"></i></button>
            </form>
              </aside>
          *@ 
          <!-- widget-categories -->
          <aside class="widget widget-categories box-shadow mb-30">
                <h6 class="widget-title border-left mb-20">Categories</h6>
                <div id="cat-treeview" class="product-cat">
              <ul class="treeview">
                    <li><a href="/Shop/Index/1">Industrial Battery Charger</a></li>|
                    <li><a href="/Shop/Index/2">Home Used Battery Charger</a></li>|
                    <li><a href="/Shop/Index/3">Solar Unit</a></li>
                  </ul>
            </div>
              </aside>
          <!-- widget-product --> 
        </div>
          </div>
      <div class="row">
            <div class="col-md-12">
          <div class="shop-content"> 
                <!-- shop-option start -->
                <!--
                <div class="shop-option box-shadow mb-30 clearfix"> 
              <!-- Nav tabs --
              <ul class="shop-tab f-left" role="tablist">
                    <li class="active"> <a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a> </li>
                  </ul>
              <!-- short-by --
              <div class="short-by f-left text-center"> <span>Sort by :</span>
                    <select>
                  <option value="volvo">Newest items</option>
                  <option value="saab">Most popular</option>
                  <option value="mercedes">Price Low to High</option>
                  <option value="audi">Price High to Low</option>
                </select>
                  </div>
            </div>
            -->
                <!-- shop-option end --> 
                <!-- Tab Content start -->
                <div class="tab-content"> 
              <!-- grid-view -->
              <div role="tabpanel" class="tab-pane active" id="grid-view">
                    <div class="row"> 
                  <!-- product-item start --> 
                  @for (int j = 0; j < Model.ManageProductlist.Count; j++)
                  {
                  <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="product-item">
                      <div class="product-img"> <a href="/Shop/Details/@Model.ManageProductlist[j].ProductId"> <img height="200" src="@(!String.IsNullOrEmpty(Model.ManageProductlist[j].ProductImage) ? "/Content/ProductImage/"+Model.ManageProductlist[j].ProductImage : "/Content/webHome/images/noimage.png")" /> </a> </div>
                      <div class="product-info">
                            <h6 class="product-title"> <a href="/Shop/Details/@Model.ManageProductlist[j].ProductId">@Model.ManageProductlist[j].ProductName</a> </h6>
                            <h3 class="pro-price">₹ @Model.ManageProductlist[j].TotalAmountIncludeTax</h3>
                            <ul class="action-button">
                          <li> <a href="/Shop/Details/@Model.ManageProductlist[j].ProductId" target="_blank" title="Quickview"> <i class="zmdi zmdi-zoom-in"></i> </a> </li>
                          @*
                          <li> <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a> </li>
                          *@
                        </ul>
                          </div>
                    </div>
                      </div>
                  } 
                  
                  <!-- product-item end --> 
                </div>
                  </div>
            </div>
                <!-- Tab Content end --> 
                @*<!-- shop-pagination start -->
                <ul class="shop-pagination box-shadow text-center ptblr-10-30">
              <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
              <li><a href="#">01</a></li>
              <li><a href="#">02</a></li>
              <li><a href="#">03</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">05</a></li>
              <li class="active"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
            </ul>
                <!-- shop-pagination end -->*@ </div>
        </div>
          </div>
    </div>
      </div>
  <!-- SHOP SECTION END --> 
</div>
