@{
	ViewBag.Title = "Order Cancel";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="breadcrumbs-section plr-200 mb-80">
	<div class="breadcrumbs overlay-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="breadcrumbs-inner">
						<h1 class="breadcrumbs-title">Order Cancel</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="page-content" class="page-wrapper">

	<!-- SHOP SECTION START -->
	<div class="shop-section mb-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- Tab panes -->
					<div class="tab-content">
						<!-- order-complete start -->
						<div class="tab-pane active" id="order-complete">
							<div class="order-complete-content box-shadow">
								<div class="thank-you p-30 text-center">
									<h6 class="text-black-5 mb-0">Your order has been canceled. </h6>
								</div>
								
								
							</div>
						</div>
						<!-- order-complete end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- SHOP SECTION END -->

</section>